html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.signature {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

img {
    border-right: 2px solid #009fe3;
    margin-right: 10px;
    width: 170px;
    height: 70px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 70px;
    font-size: 10px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.info .name {
    font-size: 16px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 10px;
    
}

.info .row1 {
    display: flex;
    flex-direction: row;
}
