html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form, .signature {
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.form .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.form label {
    display: block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
}



.signature {
    margin-bottom: 50px;
    padding: 10px;
    margin-left: 160px;
}

img {
    border-right: 2px solid #009fe3;
    margin-right: 10px;
    width: 139px;
    float: left;
    height: 71px;
}

.info {
    width: 270px;
    height: 70px;
    font-size: 9px;
    float: left;
}

.info .name {
    font-size: 16px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 10px;
    
}

.info .row1 {
    display: flex;
    flex-direction: row;
}
